<div class="container">
  <br><br><br>
  <div class="container">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="../../assets/img/carnet.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Carnet universitario</h5>
          <p class="card-text">La UNAH te provee su carnet universitario completamente gratuito para su identificación.</p>
        </div>
      </div>
      <div class="card">
        <img style="height: 165px;" class="card-img-top" src="../../assets/img/mapa.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Ciudad universitaria</h5>
          <p class="card-text">Los mapas de nuestros campus universitarios te facilitarán el traslados dentro de los mismos</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../assets/img/calendario.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Calendario académico</h5>
          <p class="card-text">Ya está disponible el calendario de actual periodo académico que inicié en febrero del 2018</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../assets/img/admision.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Admisiones</h5>
          <p class="card-text">Ya se encuentra habilitado el proceso de admisión para los estudiantes de secundaria a nivel nacional</p>
        </div>
      </div>
    </div>
    <br><br><hr>
    <div class="row">
      <div class="col-5"><br>
        <h4>Logros alcanzados de la UNAH</h4>
        <p>Capacitaciones a docentes, evaluación de carreras, mejoras en la infraestructura, ampliación de la oferta académica y mayor investigación son algunos de los avances que la Universidad Nacional Autónoma de Honduras (UNAH) ha tenido producto de la Reforma Universitaria.

        En febrero de 2016, la Reforma Universitaria cumplió 11 años y los resultados en todas las dimensiones de la vida académica.</p>
      </div>
      <div class="col-7">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/AkDajcIM4cI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div><br><br>
    <div class="row">
      <div class="col-7">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/rtBZmGPLrFo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
      <div class="col-5"><br><br>
        <h4>Remodelación de Campus Universitarios</h4>
        <p>En el tema de infraestructura, la UNAH ha designado importantes fondos para la construcción de espacios destinados a fines académicos, con el propósito de que los estudiantes tengan mejores ambientes de aprendizaje.</p>
      </div>
    </div><br><br><hr>
    <h4>Apliamos nuestra oferta académica cada año</h4>
    <p>La Vicerrectora Académica reiteró que el mandato constitucional que la UNAH tiene es contribuir con el Desarrollo del país. En este sentido su oferta académica debe estar vinculada a las áreas prioritaria de desarrollo definidas; carreras con pertinencia.</p>
    <div class="row">
      <div class="col-4">
        <img style="width: 100%;margin-top: 10px;" src="../../assets/img/arquitectura.png">
      </div>
      <div class="col-4">
        <img style="width: 100%;margin-top: 10px;" src="../../assets/img/derecho.png">
      </div>
      <div class="col-4">
        <img style="width: 100%;margin-top: 10px;" src="../../assets/img/civil.png">
      </div>
      <div class="col-4">
        <img style="width: 100%;margin-top: 10px;" src="../../assets/img/industrial.png">
      </div>
      <div class="col-4">
        <img style="width: 100%;margin-top: 10px;" src="../../assets/img/electrica.png">
      </div>
      <div class="col-4">
        <img style="width: 100%;margin-top: 10px;" src="../../assets/img/contabilidad.png">
      </div>
      <div class="col-4">
        <img style="width: 100%;margin-top: 10px;" src="../../assets/img/sistemas.png">
      </div>
      <div class="col-4">
        <img style="width: 100%;margin-top: 10px;" src="../../assets/img/psicologia.png">
      </div>
      <div class="col-4">
        <img style="width: 100%;margin-top: 10px;" src="../../assets/img/negocios.png">
      </div>
    </div><br><br>
  </div>
</div>
<footer  class="footer">
  <div class="container">
    <div class="row">
      <div class="col-10">
        <h4>Universidad Nacional Autónoma de Honduras</h4>
        <span class="text-muted">Bulevar Suyapa, Tegucigalpa, M.D.C, Honduras, Centroamérica</span><br>
        <span class="text-muted">info@unah.edu.hn 2216-6100, 2216-5100, 2216-3000, 2216-7000</span>
      </div>
      <div class="col-2">
        <img style="width: 85%;" src="../assets/img/logoUnah2.png">
      </div>
    </div>
  </div>
</footer>